@import url(https://lekhni.netlify.app/css/components.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "/Styles/variables.css";

.nav-header {
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  color: var(--white);
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 6rem;
  border-bottom: 1px ridge var(--black);
}

.nav-header .button {
  height: fit-content;
  background-color: wheat;
  color: var(--black);
}

.nav-header .search {
  margin: auto;
  width: 20rem;
  border-radius: 5rem;
  padding: 0.5rem;
}

.nav-header .logo {
  all: unset;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-header .button:hover {
  background-color: var(--white);
}
