@import "header.css";

.logout-container {
  margin: 10rem auto;
  width: 20rem;
  color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout-container .button {
  background-color: var(--wheat);
  color: var(--black);
  width: fit-content;
  margin: auto;
}
